[submodule "qiwo-trime"]
	path = qiwo-trime
	url = https://github.com/LeaWron/qiwo-trime.git
	branch = main
[submodule "qiwo-ibusr"]
	path = qiwo-ibusr
	url = https://github.com/LeaWron/qiwo-ibusr.git
	branch = main
[submodule "qiwo-squirrel"]
	path = qiwo-squirrel
	url = https://github.com/LeaWron/qiwo-squirrel.git
	branch = main
[submodule "qiwo-weasel"]
	path = qiwo-weasel
	url = https://github.com/LeaWron/qiwo-weasel.git
	branch = main
[submodule "qiwo-sync-core"]
	path = qiwo-sync-core
	url = https://github.com/LeaWron/qiwo-sync-core.git
	branch = main
